@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/OpenSans-Regular-webfont.eot');
  src: url('fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans-Regular-webfont.woff') format('woff'), url('fonts/OpenSans-Regular-webfont.ttf') format('truetype'), url('fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
}
*{
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
  	box-sizing: border-box;
  	margin: 0;
  	padding: 0;
}
body{
	font-family: 'Open Sans', Helvetica,Arial,sans-serif;
  font-size: 16px;
  color: #1e1e1e;
  background: #efeff4;
}
html,body{
  height: 100%;
}

/* Login Style */
.container-login,
.container-start{
  background: #e0293b url('../images/bg.png') right bottom no-repeat;
  width: 100%;
  height: 100%;
}
.content-start{
  width: 80%;
  height: 100px;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-top: -50px;
  margin-left: -40%;
  font-size: 36px;
  color: white;
  text-align: center;
}
.content-start span{
  display: block;
  margin-top: 30px;
  font-size: 16px;
  color: white;
}
.start-copyright{
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: 300px;
  height: 30px;
  margin-left: -150px;
  font-size: 11px;
  color: #EB7581;
}
.content-login{
  width: 70%;
  margin: 0 auto;
  padding-top: 130px;
}
.login-title{
  font-size: 36px;
  color: white;
  text-align: center;
}
.login-content{
  margin: 150px 0 0 0;
}
.login-content ul li{
  list-style: none;
  color: #efced1;
  height: 50px;
  line-height: 50px;
}
.login-content ul li:nth-child(1){
  border-bottom: solid 1px #e5e5e5;
}
.login-content ul li span{
  display: inline-block;
  width: calc(100% - 30px);
  text-align: center;
}
.login-content ul li span input{
  font-family: 'Open Sans', sans-serif;
  border: none;
  background: none;
  color: white;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
}

.login-button input{
  margin: 30px 0 0 0;
  width: 100%;
  text-align: center;
  height: 50px;
  line-height: 50px;
  border-radius: 3px;
  background: #f2f2f2;
  border: none;
  font-size: 18px;
  color: #e0293b;
  cursor: pointer;
}




a:link, a:visited{
  color: #1e1e1e;
  text-decoration: none;
}
a:hover{
  color: #e0293b;
}

.container{
  width: 100%;
  height: 100%;
}
.header{
  height: 64px;
  color: white;
  text-align: center;
  background: #e0293b;
  font-size: 21px;
  padding-top: 26px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
.header + div,
.header + table,
.header + ul{
  margin-top: 64px !important;
}
.summary-container{
  height: 60px;
  background: url('../images/home-bg.png') bottom no-repeat;
  background-size: cover;
  color: #464646;
  padding: 20px 10px;
}
.summary-title{
  float: left;
  font-size: 24px;
}
.summary-data{
  float: right;
  font-size: 27px;
}
.summary-data span{
  font-size: 11px;
  line-height: 12px;
  display: inline-block;
  width: 60px;
}
ul.chart{
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ccc;
  background: white;
}
ul.chart li{
  list-style: none;
  width: 25%;
  margin: 0;
  padding: 0;
  float: left;
  border-right: 1px solid #ccc;
}
ul.chart li div{
  width: 100%;
  text-align: center;
}
ul.chart li div:nth-child(1){
  color: #aaa;
  font-size: 11px;
  margin: 10px 0 0 0;
}
ul.chart li div:nth-child(2){
  color: #1e1e1e;
  font-size: 30px;
}
ul.chart li.colors{
  height: 5px;
}
ul.chart li.newfiles{
  background: #00b9e4;
}
.NEW_FILES{
  background: #00b9e4;
}

ul.chart li.qe{
  background: #92d400;
}
.QE{
  background: #92d400;
}
ul.chart li.relprep{
  background: #007a87;
}
.REL_PREP{
  background: #007a87;
}
ul.chart li.pushready{
  background: #f0ab00;
}     
.PUSH_READY{
  background: #f0ab00;
}

.clear{
  clear: both;
}
.list-title{
  color: #7c7c7c;
  padding:0px 10px 5px 10px;
  border-bottom: 1px solid #ccc;
  display: none;
}
.list-more{
  float: right;
}
table.list{
  width: 100%;
  padding: 0px 10px 40px 10px;
  border-spacing: 0;
  background: white;
  /*margin-top: 10px;*/
}
table.list td{
  vertical-align: top;
  line-height: 15pt;
  border-bottom: 1px solid #ccc;
  padding: 7px 0 5px;
}
table.list td:nth-child(1) span{
  font-size: 11px;
  display: inline-block;
}
table.list td:nth-child(4){
  text-align: right;
}
table.list td:nth-child(4) span{
  color: white;
  padding: 3px 5px;
  font-size: 13px;
}



.footer{
  position: fixed;
  bottom: 0;
  left: 0;
  border-top: 1px solid #ccc;
  background: #f7f7f7;
  height: 49px;
  width: 100%;
}
.footer ul{
  margin: 8px auto;
  width: 100%;
}
.footer ul li{
  list-style: none;
  float: left;
  width: 25%;
  text-align: center;
}
.footer ul li{
  color: #595c60;
}
.footer ul li:hover{
  color: #1e1e1e;
  cursor: pointer;
}
.footer ul li{
  font-size: 12px;
}
.footer ul li i{
  font-size: 22px;
  margin-bottom: 2px;
  position: relative;
}
.footer ul li i div.pointer{
    background: red;
    width: 14px;
    height: 14px;
    border-radius: 8px;
    position: absolute;
    right: -6px;
    top: -2px;
    color: white;
    font-size: 10px;
    text-align: center;
    padding-top: 1px;
  }


.footer ul li div{
  font-size: 10px;
}
.footer ul li.active{
  color: #e0293b;
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px){
  table.list td:nth-child(2),
  table.list td:nth-child(3){
    display: none;
  }
}


/* list css */

.input-search{
  width: calc(90% - 36px);
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  border: solid 1px #fff;
}

/* detail.html css */
.content-list{
  padding: 10px 0 40px;
  background: #ffffff;
}
.title{
  font-size: 19px;
  padding-top: 4px;
}
.pull-left{
  float: left;;
}
.pull-right{
  float: right;;
}
.back{
  position: absolute;
  left: 10px;
  top: 35px;
  font-size: 16px;
}
a:link i.back,a:visited i.back{
  color: white;
}

ul.list,
ul.comments{
  margin:  15px 10px;
}
ul.list li{
  list-style: none;
  border-bottom: solid 1px #ccc;
  margin: 10px 5px;
  padding: 5px 0;
}
ul.list li span.list-tt{
  display: inline-block;
  width: 100px;
  color: gray;
}
ul.list li span.list-content{
  display: inline-block;
  width: calc(100% - 110px);
}
ul.comments li{
  list-style: none;
  margin-bottom: 15px;
  padding: 5px 10px;
}
ul.comments li.comments-tt{
  margin-bottom: 10px;
  display: block;
}
.userinfo{
  margin: 11px 0 5px;
  color: gray;
  font-size: 11pt;
}
.userinfo i{
  margin-right: 10px;
}
.buttonstyle{
  border-radius: 3px;
  border: solid 1px #e0293b;
  color: #e0293b;
  padding: 1px 3px;
  margin: -1px 0 0 0;
  cursor: pointer;
}
.changeQEowner{
  background: #f0f0f0;
}
.changeQEowner input{
  width: 100%;
  margin: 5px auto;
  height: 40px;
  line-height: 40px;
  padding: 0 0 0 10px;
  font-size: 17px;
}
.changeQEowner ul li{
  padding: 10px 0 10px 10px;
  cursor: pointer;
}
.changeQEowner ul li:hover{
  background: white;
  color: #e0293b;
}
.footer input{
  width: 95%;
  margin: 5px auto;
  display: block;
  height: 44px;
  line-height: 44px;
  padding: 0 10px;
  font-size: 18px;
}



/*Mine CSS*/
.mine-bg{
  background: url('../images/mine-bg.png') no-repeat;
  background-size: cover;
  border-bottom: solid 4px #f0ab00;
}
.mine-data span{
  width: auto;
  line-height: 15px; 
  margin-top: -10px;
}
ul.list-group,
div.list-group,
.profile-group{
  margin: 15px 0 0 0;
  border-top: solid 1px #ccc;
  background: white;
}
ul.list-group li{
  list-style: none;
  width: 100%;
  border-bottom: solid 1px #ccc;
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  display: block;
  position: relative;
}
ul.list-group i:nth-child(1){
  color: #ed5565;
  margin-right: 10px;
}
ul.list-group li:nth-child(2) i:nth-child(1){
  color: #a3cd75;
}
ul.list-group li:nth-child(3) i:nth-child(1){
  color: #b7bbc2;
}
.color-approvedbyme{
  color: #5dc9e6 !important;
}
.color-notification{
  color: #5d9cec !important;
}
ul.list-group i:nth-child(2){
  position: absolute;
  right: 20px;
  top: 20px;
  display: inline-block;
}
ul.list-group li a i{
  display: inline-block;
  float: right;
  margin: 15px 20px 0 0; 
}
ul.list-group li a:link i, ul.list-group li a:visited i{
  color: gray;
}
div.list-group {
  position: relative;
}
div.list-group div{
  display: inline-block;
}
.avatar{
  margin: 10px;
}
img.ava{
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 5px;
}
.avatar-name{
  margin-bottom: 10px;
}
.avatar-name .username{
  font-size: 16px;
  display: block;
}
.avatar-name .title{
  font-size: 12px;
  display: block;
}
div.list-group .fa-angle-right,
.profile-group .fa-angle-right{
  position: absolute;
  right: 10px;
  top: 40px;
  display: inline-block;
}

.profile-group div{
  display: inline-block;
  padding-top: 10px;
}
.profile-name{
  width: 59%;
  padding: 10px;

}
.profile-vaule{
  width: 40%;
  text-align: right;
  position: relative;
  padding-right: 50px;
}

.buttons{
  margin: 100px 0;
  text-align: center;
}
.buttons button{
  text-align: center;
  height: 50px;
  line-height: 50px;
  border-radius: 3px;
  background: #e0293b;
  border: none;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  width: 80%;
}


.gray{
  background: #efeff4;
}
@keyframes rotation {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(359deg);
}
}
.loading{
    animation: 0.6s linear 0s normal none infinite running rotation;
    border-color: rgba(0, 0, 0, 0.75) rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.25);
    border-radius: 100%;
    border-style: solid;
    border-width: 5px;
    height: 30px;
    width: 30px;
    margin: 0 auto;
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
}
.container-loading{
    background: #f1f1f1 none repeat scroll 0 0;
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: fixed;
    top: 0;
    width: 100%;
  }
 